body,
#root,
main {
  margin: 0;
}

main {
  display: flex;
}

.right {
  height: 100vh;
  width: 50vw;
  overflow-y: auto;
}

.left {
  display: flex;
  flex-wrap: wrap;

  width: 50vw;
  height: 100vh;
  overflow-y: auto;
}

.block {
  display: table;

  width: 100px;
  height: 100px;

  margin: 1.2em;

  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 5px 5px #c5c5c5;

  overflow: hidden;
}

.tr {
  display: table-row;
}

.td {
  display: table-cell;
}
